/* Write our CSS Styling here */
body {
  padding: 0;
  margin: 0;
}

.btn-margin-left {
  margin-left: 10px;
}

.btn-margin-right {
  margin-right: 10px;
}

.nav-link:hover {
  background: rgb(186, 186, 186);
  color: red;
}

#parent {
  overflow: auto;
  width:1000px;
  height:600px;
}

/* Everything above this line was imported from index.html for better organization
   Note that something above here controls the scroll bars*/

canvas{
  overflow: scroll;
  color: rgb(93, 223, 77)
}

/* The following styles apply to the range sliders */
.sliderContainer {
  width: 75%;
  margin-top: 10px;
}

.slider {
  -webkit-appearance: none; /*Override default CSS */
  appearance: none;
  width: 100%; /* Full width */
  height: 10px;
  background:#d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* Mouse over effects */
.slider:hover {
  opacity: 1; /* Fully show on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}